h2 {
  font-family: 'Roboto Slab', serif;
    font-weight: bold;
    font-size: 30px;
    color: #333;
    text-align: center;
    padding: 15% 10px 30px 10px;
}

.birds {
    margin: auto auto 25% auto;
    list-style-type: none;
    padding: 0;
    width: 50%;
    max-width: 400px;
    min-width: 330px;
  }
  .birds li {
    position: relative;
    cursor: pointer;
  }
  
  .birds li:hover {
    left: .1em;
  }
  
  .birds .list {
    color: #fff;
    text-decoration: none;
    background-color: #d84a4a;
    margin: .5em;
    height: 2em;
    border-radius: 4px;
    display: block;
    width: 100%;
    font-family: 'Roboto Slab', serif;
    text-align: center;
  }
  
  .birds .list:hover {
    color: #fff;
    background-color: #913636;
  }
  
  .birds .list:active {
    background-color: #525252;
    color: #fafafa;
  }

  .btn {
    background-color: rgb(226, 222, 209);
    padding: 15px;
    border-radius: 4px;
    font-size: 1rem;
    font-family: 'Roboto Slab', serif;
    color: #3d3d3d;
    margin: 5% 38.25% auto 38.25%;
  }
  .btn:hover {
    color: white;
    background-color: #799999;
  }

  @media only screen 
  and (device-width : 375px) 
  and (device-height : 812px) 
  and (-webkit-device-pixel-ratio : 3) {
    .birds {
      margin: auto 4%;
      max-width: 400px;
      min-width: 330px;
    }
    .btn {
      font-size: 1rem;
      margin: 5% auto auto 38%;
    }
  }
