<nav>
  <a class="pic" routerLink="/"><img src="https://i.imgur.com/eQ11s89.png" width="30px" /></a>
  <a class="dash" routerLink="/main">dashboard</a>
  <a class="b" routerLink="/birds">my list</a>
</nav>
<router-outlet></router-outlet>

<footer class="footer">
  <div class="content has-text-centered">
    <section>
      <p><a routerLink="/" href="https://imgur.com/t9fBoqu"><img src="https://i.imgur.com/t9fBoqu.png?2" width="38px" /></a>&nbsp;
      <a href="https://github.com/vbangs">
        <img src="https://i.imgur.com/9fX2KIG.png" width="30" />
      </a>&nbsp;
      <a href="http://www.linkedin.com/in/vbangs">
          <img src="https://i.imgur.com/GMt1lwm.png?1" width="30" />
      </a></p>
    </section>
  </div>
</footer>
