h2 {
    text-align: center;
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
    font-size: 30px;
    color: #333;
    padding: 10% 10px 0px 10px;
  }
  
  .menu {
    padding: 3% 0 0 0;
    margin: auto;
    max-width: 1000px;
  
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: flex-start;
    align-items: flex-start;
  }
  
  a {
    background-color:rgb(226, 222, 209);
    padding: 1rem;
    font-size: 1.2rem;
    text-decoration: none;
    display: inline-block;
    color: #799999;
    text-align: center;
    width: 100%;
    min-width: 70px;
    margin: .5rem auto;
    box-sizing: border-box;
    font-family: 'Roboto Slab', serif;
    border-radius: 4px;
  
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
  }
  
  @media (min-width: 600px) {
    a {
      width: 18%;
      box-sizing: content-box;
    }
  }
  
  a:hover {
    background-color: #799999;
    color: #fff;
  }